<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>This is our home page Mr. {{data.first_name}}</h1>
    <h1>Simple data input from Frontend to backend </h1>
    <form action="/about" method="post">

        <input type="text" name="Num1" required="required" placeholder="Enter your 1st number please"><br><br>
        <input type="text" name="Num2" required="required" placeholder="Enter your 2nd number please"><br><br>
        <input type="submit" value="Add">


    </form>



</body>

</html>